@model AlkBlog.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h2>Details</h2>

<div class="row">
        <div class="post">
            <div class="card mb-3 px-3 pt-3">
                <img src="@Model.image" class="card-img-top rounded image">
                <div class="card-body">
                    <h3 class="card-title"><a asp-action="Details" asp-route-id="@Model.ID">@Model.title</a></h3>
                    <p>@Model.content</p>
                    <hr />
                    <p class="card-text">Posted on @Model.creationDate.ToString("dd/MM/yyyy") - Category: @Model.category</p>
                </div>
            </div>
        </div>
</div>
<div class="row">
    <h3 class="text-danger col-12 pl-0">Are you sure you want to delete this?</h3>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Back to Home</a>
    </form>
</div>
